g.word rect {
  stroke: black;
  stroke-width: 0.04;
  /* fill: #AAEEAA; */
}

g.op circle {
  stroke: black;
  stroke-width: 0.02;
  fill: white;
}

g.op text {
  font-family: helvetica;
  fill: black;
  font-size: 0.13pt;
  text-anchor: middle;
}

g.op line {
  stroke: black;
  stroke-width: 0.02;
}

g.word text {
  font-family: monospace;
  fill: black;
  font-size: 0.10pt;
  text-anchor: middle;
  /* alignment-baseline: middle; */
}

g.word-arrow polyline {
  stroke: black;
  stroke-width: 0.02;
  fill: none;
}

g.f-box rect {
  stroke: black;
  stroke-width: 0.04;
  fill: #EEEEAA;
}

g.reference rect.border {
  stroke: black;
  stroke-width: 0.06;
  fill: #FFFFFF;
}

g.reference text.item {
  font-size: 0.10pt;
  fill: black;
  font-family: "Helvetica";
}

g.input text.okay {
  font-size: 0.3pt;
  fill: black;
  font-family: "Helvetica";
}

g.input text.then {
  font-size: 0.2pt;
  fill: black;
  font-family: "monospace";
}